* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
  user-select: none;
  --bg: #01011d;
  --box-bg: rgba(255, 255, 255, 0.077);
  --cyan: #00ffff;
  --card-hover: #060116;
  --purple-1: #c300ff;
  --purple-2: #ffffff;
  --purple-3: #ff0f87;
  --grey-1: #edecec;
  --grey-2: #b7b4b4;
  --li-hover: rgb(2, 1, 5);
  --underline: linear-gradient(90deg, var(--cyan), var(--purple-1));
  --underline-2: linear-gradient(40deg, var(--cyan), var(--purple-1));
  --gradient: linear-gradient(90deg, var(--cyan), var(--purple-2));
  --trans-box: all 400ms;
}

body {
  background: var(--bg);
  min-height: 100vh;
  font-family: cinzel;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  height: 200px;
  width: 200px;
  background: var(--cyan);
  filter: blur(140px);
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  top: 200px;
  left: 250px;
  height: 200px;
  width: 200px;
  background: var(--purple-1);
  filter: blur(140px);
  z-index: -1;
}

.nav {
  position: fixed;
  right: 0;
  backdrop-filter: blur(20px);
  width: 100%;
  z-index: 9999;
}

.nav nav {
  padding: 0 1rem;
  margin-bottom: 3rem;
  font: 500 1rem cinzel;
  transition: var(--trans-box);
}

.nav nav a {
  float: right;
  margin: 10px;
  padding-bottom: 4px;
  color: var(--grey-1);
  background: var(--underline);
  background-size: 0% 3px;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size .3s ease;
}

@media (hover: hover) {
  .nav nav a:hover {
    background-size: 100% 3px;
  }
}

.nav nav a:active {
  color: #c300ff;
}

.nav nav .span {
  position: fixed;
  left: 0;
  margin: 0 10px;
  margin-top: 6px;
  float: left;
  font: 900 1.8rem cinzel;
  letter-spacing: 7px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: .7px;
  -webkit-text-stroke-color: var(--grey-1);
  transition: var(--trans-box);
}

@media (max-width: 700px) {
  .nav nav .span {
    margin-top: 4px;
  }
}

@media (max-width: 600px) {
  .nav nav .span {
    border-right: 1px solid var(--grey-1);
  }
}

@media (max-width: 550px) {
  .nav nav .span {
    display: none;
  }
}

@media (max-width: 550px) {
  .nav {
    width: 100%;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 499px) {
  .nav nav {
    padding: 0;
  }
}

@media (max-width: 411px) {
  .nav nav {
    text-align: center;
  }
}

.hi-div {
  font-size: 10rem;
  text-align: center;
  padding-top: 10%;
}

.hi-div .hi {
  position: absolute;
  color: var(--cyan);
  opacity: 0;
  background: var(--underline);
  background-clip: text;
  animation: showTemp 3s ease forwards;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hi-div p:first-child {
  position: absolute;
  left: 50%;
  animation-delay: 3s;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-1);
}

.contact-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--grey-1);
  transition: var(--trans-box);
}

.contact-con .contact {
  margin-top: 10%;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-con .input-control {
  margin: 1.5rem 0;
  width: 100vh;
  max-width: 600px;
  transition: var(--trans-box);
}

.contact-con .input-control input,
.contact-con .input-control textarea {
  border-radius: 30px;
  font: 400 20px teko;
  letter-spacing: 2px;
  padding: .8rem 1.1rem;
  outline: none;
  border: none;

  background: transparent;
  width: 100%;
  color: var(--grey-1);
  resize: none;
  transition: var(--trans-box);
}

@media (max-width: 700px) {
  .contact-con .input-control {
    width: 100%;
  }
}

.contact-con #submit,
.contact-con .submit {
  padding: 10px 20px;
  background: transparent;

  color: var(--grey-2);
  font-size: 2rem;
  transition: var(--trans-box);
}

.contact-con #submit:hover,
.contact-con .submit:hover {
  transform: scale(1.1);
  border-radius: 12px;
}

.contact-con label {
  font-size: 1.5rem;
}

.contact-con #gender {
  background: transparent;
  color: var(--grey-2);
  width: 100px;
  border-radius: 12px;
  padding: 10px;
}

.contact-con #gender option {
  background: #000;
}

@media (max-width: 730px) {
  .contact-con .contact-form {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: var(--trans-box);
  }

  .contact-con .contact-form label {
    font-size: 1.2rem;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: var(--trans-box);
}

.content .image {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.content .image .box-inner {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
}

.content .image .box-inner .box-front,
.content .image .box-inner .box-back {
  position: absolute;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  backface-visibility: hidden;
}

.content .image .box-inner .box-back {
  transform: rotateY(180deg);
}

.content .image .box-inner img {
  width: 300px;
  height: 300px;
  border-radius: 50%;

}

.content .right-header {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content .right-header .intro {
  margin-top: 2rem;
  font-size: 1.2rem;
  transition: var(--trans-box);
}

@media (max-width: 800px) {
  .content .right-header .intro {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .content .right-header .intro {
    text-align: center;
    padding: 0 1rem;
  }
}

@media (max-width: 650px) {
  .content {
    margin-top: 2rem;
  }
}

.content .hobbies {
  margin: 2rem 0;
  padding: 10px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content .hobbies p {
  color: var(--grey-1);
  background: var(--underline);
  display: flex;
  justify-content: center;
  background-size: 100% 4px;
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 20px;
}

@media (max-width: 900px) {
  .content .hobbies {
    font-size: 3.4vw;
  }
}

@media (max-width: 650px) {
  .content .hobbies {
    font-size: 4.5vw;
  }
}

@media (max-width: 500px) {
  .content .hobbies {
    font-size: 5vw;
  }
}

.content .boxes {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.content .boxes .box {
  margin-top: 2rem;
  aspect-ratio: 16 / 9;
  flex-grow: 1;
  background: var(--box-bg);
  border-radius: 20px;
  width: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: var(--trans-box);
}

.content .boxes .box h2 {
  font: 400 2rem cinzel;
  letter-spacing: 2px;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.content .boxes .box ul li {
  font: 400 1.5rem teko;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--grey-2);
}

.content .boxes .box:hover {
  transform: scale(1.1);
  background: var(--card-hover);
  box-shadow: -20px -20px 40px var(--purple-3), 20px 20px 40px var(--cyan);
  filter: brightness(200%);

  transition: box-shadow 1s ease,
    filter 1s ease;

}

@media (max-width: 1050px) {
  .content .boxes .box h2 {
    font-size: 1.2rem;
  }

  .content .boxes .box ul li {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .content .boxes {
    display: grid;
    grid-template-columns: auto auto;
  }

  .content .boxes .box {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content .boxes .box h2 {
    font-size: 4vw;
  }

  .content .boxes .box ul li {
    font-size: 2vw;
  }
}

@media (max-width: 700px) {
  .content .boxes .box {
    width: 40vw;
  }

  .content .boxes .box h2 {
    font-size: 4vw;
  }

  .content .boxes .box ul li {
    font-size: 2.5vw;
  }
}

@media (max-width: 550px) {
  .content .boxes {
    grid-template-columns: auto;
  }

  .content .boxes .box {
    width: 80vw;
  }

  .content .boxes .box h2 {
    font-size: 7vw;
  }

  .content .boxes .box ul li {
    font-size: 5vw;
  }
}

.loader span {
  color: var(--cyan);
  font-size: clamp(4rem, 3vw, 2rem);
  margin: 1rem 0;
  text-shadow: 0 0 0 var(--cyan);
  transition: var(--trans-box);
  animation: loading 2s ease-in-out infinite alternate;
}

@media (max-width: 800px) {
  .loader span {
    font-size: 5vw;
  }
}

@media (max-width: 650px) {
  .loader span {
    font-size: 6vw;
  }
}

@media (max-width: 450px) {
  .loader span {
    font-size: 7vw;
  }
}

.nav.first-page {
  animation: slide 2s 4s ease forwards;
  opacity: 0;
}

.image .box-inner {
  animation: scaled 5s 8s ease forwards, rotate 6s 6s linear infinite;
  visibility: hidden;
}

.image .box-inner:hover {
  animation-play-state: paused;
}

.right-header .hobbies,
.right-header .boxes {
  animation: slideup 3s 9s ease forwards;
  opacity: 0;
}

.right-header .loader {
  animation: show 3s 5s ease forwards;
  opacity: 0;
}

.right-header .intro {
  animation: show 3s 6.5s ease forwards;
  opacity: 0;
}

.loader span:nth-child(2) {
  animation-delay: 0.1s;
}

.loader span:nth-child(3) {
  animation-delay: 0.2s;
}

.loader span:nth-child(4) {
  animation-delay: 0.3s;
}

.loader span:nth-child(5) {
  animation-delay: 0.4s;
}

.loader span:nth-child(6) {
  animation-delay: 0.5s;
}

.loader span:nth-child(7) {
  animation-delay: 0.6s;
}

.loader span:nth-child(8) {
  animation-delay: 0.7s;
}

.loader span:nth-child(9) {
  animation-delay: 0.8s;
}

.loader span:nth-child(10) {
  animation-delay: 0.9s;
}

.loader span:nth-child(11) {
  animation-delay: 1s;
}

.loader span:nth-child(12) {
  animation-delay: 1.1s;
}

.loader span:nth-child(13) {
  animation-delay: 1.2s;
}

.loader span:nth-child(14) {
  animation-delay: 1.3s;
}

.loader span:nth-child(15) {
  animation-delay: 1.4s;
}


@keyframes loading {
  to {
    text-shadow: 20px 0 70px var(--purple-3);
    color: var(--purple-3);
  }
}

@keyframes slide {
  from {
    top: -100%;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes scaled {
  100% {
    width: 100%;
    visibility: visible;
  }
}

@keyframes show {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  to {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}


@keyframes showTemp {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes slideup {
  50% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
  }
}

.btn {
  width: 100%;
  text-align: center;
}

.btn a button {
  cursor: pointer;
  border: 1px solid var(--cyan);
  padding: 5px;
  border-radius: 10px;
  background: transparent;
  font: 400 2.5rem teko;
  letter-spacing: 2px;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  transition: var(--trans-box);
}

.btn a button:hover {
  transform: scale(1.1);
}

@media (max-width: 450px) {
  .btn a button {
    font-size: 4vw;
    padding: 0 3px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  transition: var(--trans-box);
}

.footer footer {
  font: 400 2.5rem teko;
  letter-spacing: 2px;
  background: var(--gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  transition: var(--trans-box);
}

@media (max-width: 600px) {
  .footer footer {
    font-size: 6vw;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background: #01011d;
}

::-webkit-scrollbar-thumb {
  background: var(--underline-2);
  border-radius: 10px;
}